:root {
  --primary-color: #42b883;
  --background-color: #f2f2f2;
  --grey: #35495eea;
  --black: #212529;
  --patrick-font: "Patrick Hand SC";
  --vibur-font: "Vibur";

  /* font-family: "Patrick Hand SC"; */
  /* font-family: "Vibur"; */
}

body {
  font-family: "Roboto";
}

h1 {
  color: var(--primary-color);
  font-size: 65px;
  font-family: var(--patrick-font);
}
h2 {
  font-size: 21px;
}
h3 {
  font-size: 21px;
  color: var(--grey);
  margin-bottom: 0;
}

p {
  font-size: 16px;
}
.heading-2 {
  color: var(--grey);
}
.font-poppins {
  font-family: "Vibur";
  font-size: 24px;
}

.socials-list {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin-top: 40px;
}

.social-element {
  padding-right: 20px;
}

.social-icon {
  width: 35px;
}

.social-icon-link:hover {
  box-shadow: 2px 2px 12px var(--primary-color);
  color: var(--primary-color);
}

.skills {
  list-style: none;
  display: flex;
  padding-left: 0;
}
.skill {
  padding-right: 40px;
  text-align: center;
  display: flex !important;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.skill-icon {
  width: 40px;
  margin-bottom: 10px;
  /* justify-content: baseline; */
}
.content {
  /* margin: 60px auto; */
  background: var(--background-color);
}

.avatar {
  max-width: 200px;
}

.about-me-section {
  margin: 10px auto;
  max-width: 50%;
}

.btn-branding {
  background: var(--primary-color);
  color: white;
}
.btn-branding:hover {
  background: white;
  border-color: var(--primary-color);
}

.heading-section {
  font-size: 36px;
  color: var(--black);
  margin-top: 10px;
}
.app-heading {
  font-size: 28px;
  margin-bottom: 10px;
}
.projects-section {
  max-width: 70%;
  margin: 10px auto;
}

.btn-branding-outline {
  border-color: var(--primary-color);
  color: var(--primary-color);
  margin-bottom: 20px;
}

.btn-branding-outline:hover {
  background: var(--primary-color);
  border-color: var(--primary-color);
  color: #f2f2f2;
}
@media (max-width: 991px) {
  .heading-1 {
    font-size: 46px;
  }
  .heading-2 {
    font-size: 21px;
  }
}

@media (max-width: 767px) {
  .app-img {
    display: none;
  }
  .container {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  .heading-section{
   margin-top: 0;
  }
}
